@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asul&family=Gugi&display=swap");
* {
  margin: 0;
  list-style: none;
  background-color: rgb(99, 94, 94);
}

ul {
  padding: 0;
}

ul li {
  font-family: Gugi, cursive;
}

.box {
  justify-content: space-around;
}

.box .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent a {
  text-decoration: none;
  color: whitesmoke;
}

.middlepage {
  display: flex;
  justify-content: center;
}

.middlepage img {
  width: 100%;
  height: 80%;
}

.box,
a:hover {
  color: rgb(130, 2, 2);
  transition: 0.5s;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  text-align: center;
}

.div3 .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row-reverse;
}
.social img {
  width: 3%;
}
.secondpart img {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px black;
}
.secondpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
}
.secondpart p {
  text-align: center;
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
.secondpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.secondpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.thirdpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.thirdpart img {
  width: 40%;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.thirdpart p {
  text-align: center;
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
.thirdpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.thirdpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.fourthpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
}
.fourthpart img {
  width: 40%;
  box-shadow: 2px 2px 2px black;
}
.fourthpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.fourthpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.fourthpart p {
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
