@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asul&family=Gugi&display=swap");

* {
  margin: 0;
  list-style: none;
  background-color: rgb(99, 94, 94);
}
/* Header */
.navbar {
  display: none;
}
.navbar i {
  position: fixed;
  z-index: 9999;
  top: 9px;
  right: 15px;
  font-size: 3rem;
  color: whitesmoke;
}

.modal {
  z-index: 4;
  background-color: beige;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
  transition: top 0.9s;
}
.change-modal {
  top: 0vh;
}
.box {
  justify-content: space-around;
}
.navbar .navbar-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar .navbar-list a {
  font-size: 5rem;
  font-weight: 800;
  color: black;
  padding: 2rem;
}

.box .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Gugi, cursive;
  padding: 0;
}

.box,
a:hover {
  color: rgb(130, 2, 2);
  transition: 0.5s;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
  text-align: center;
}

.div3 .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div4 {
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
}

.div5 {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
}

/* footer */
.copyrights {
  display: flex;
  font-family: "Asul", sans-serif;
  color: rgb(157, 148, 148);
  justify-content: space-around;
}
.social {
  display: flex;
  flex-direction: row-reverse;
}
.social img {
  width: 3%;
}
/* body de la page index.html */

.middlepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlepage img {
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: 1s;
}
.middlepage .show {
  opacity: 1;
}

.secondpart img {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  box-shadow: 2px 2px 2px black;
}
.secondpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
}
.secondpart p {
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
.secondpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.secondpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.secondpart .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.thirdpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.thirdpart img {
  width: 40%;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.thirdpart .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.thirdpart p {
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
.thirdpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.thirdpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.fourthpart {
  display: flex;
  justify-content: space-around;
  margin: 10em;
  flex-wrap: wrap;
}
.fourthpart img {
  width: 40%;
  box-shadow: 2px 2px 2px black;
}
.fourthpart .container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.fourthpart h2 {
  font-family: Gugi, cursive;
  font-size: 1em;
  color: rgb(130, 2, 2);
}
.fourthpart h2:hover {
  color: whitesmoke;
  transition: 0.5s;
}
.fourthpart p {
  font-family: "Asul", sans-serif;
  color: whitesmoke;
}
@media screen and (max-width: 900px) {
  .secondpart,
  .thirdpart,
  .fourthpart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .middlepage {
    display: none;
  }
  .middlepage img {
    display: none;
  }
}
/* grid for impression 3D  */
.presentation {
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: repeat(5, 20vh);
  grid-column-gap: ;
  grid-row-gap: ;
}

.div6 {
  grid-area: 1 / 1 / 2 / 6;
}
.presentation .div6 img {
  width: 100%;
}
.div7 {
  grid-area: 2 / 1 / 5 / 2;
}
.presentation .div7 img {
  width: 100%;
}
.div8 {
  grid-area: 2 / 2 / 3 / 3;
}
.presentation .div8 img {
  width: 100%;
}
.div9 {
  grid-area: 2 / 3 / 3 / 4;
}
.presentation .div9 img {
  width: 100%;
}
.div10 {
  grid-area: 2 / 4 / 3 / 5;
}
.presentation .div10 img {
  width: 100%;
}
.div11 {
  grid-area: 3 / 4 / 4 / 5;
}
.presentation .div11 img {
  width: 100%;
}
.div12 {
  grid-area: 3 / 3 / 4 / 4;
}
.presentation .div12 img {
  width: 100%;
}
.div13 {
  grid-area: 3 / 2 / 4 / 3;
}
.presentation .div13 img {
  width: 100%;
}
.div14 {
  grid-area: 4 / 2 / 5 / 3;
}
.presentation .div14 img {
  width: 100%;
}
.div15 {
  grid-area: 4 / 3 / 5 / 4;
}
.presentation .div15 img {
  width: 100%;
}
.div16 {
  grid-area: 4 / 4 / 5 / 5;
}
.presentation .div16 img {
  width: 100%;
}
.div17 {
  grid-area: 2 / 5 / 5 / 6;
}
.presentation .div17 img {
  width: 100%;
}
.div18 {
  grid-area: 5 / 1 / 6 / 6;
}
.presentation .div18 img {
  width: 100%;
}
/* grid pour la page peinture.html */
.peint {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div19 {
  grid-area: 1 / 2 / 3 / 4;
}
.div20 {
  grid-area: 1 / 4 / 3 / 6;
}
.div21 {
  grid-area: 3 / 2 / 5 / 4;
}
.div22 {
  grid-area: 3 / 4 / 5 / 6;
}
.div23 {
  grid-area: 5 / 2 / 7 / 4;
}
.div24 {
  grid-area: 5 / 4 / 7 / 6;
}
/* contact */
.baton {
  display: flex;
  justify-content: space-around;
  margin: 5em;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .parent {
    display: none;
  }
  .navbar {
    display: block;
  }
}
