* {
    list-style: none;
    background-color: rgb(rgb(114, 111, 111), rgb(92, 95, 92), rgb(84, 84, 87));
}

ul li {
    font-family: Gugi, cursive;
}

.box {
    display: flex;
    justify-content: space-around;
}
.box, .logo{
    align-items: centergit;

}

.box, a {
    text-decoration: none;
    color: whitesmoke;
    
}

.middlepage {
    width: 100vh;
    display: flex;
    align-items: center;

}
.box, a:hover {
    color: rgb(194, 31, 31);
}