@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
    margin: 0;
    list-style: none;
    background-color: rgb(99, 94, 94);
}

ul {
    padding: 0;
}

ul li {
    font-family: Gugi, cursive;
}

.box {


    justify-content: space-around;
}

.box .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.parent a {
    text-decoration: none;
    color: whitesmoke;


}

.middlepage {

    display: flex;
    justify-content: center;

}

.middlepage img {
    width: 50vh;
}

.box,
a:hover {
    color: rgb(130, 2, 2);
}

ul,
li,
.graou {}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    text-align: center;
   
}
.div3 .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
    text-align: center;
}